<div class="container-fluid">
    <div class="toolbar row" role="banner">
        <img
            width="40"
            alt="IDEXX logo"
            src="https://media.licdn.com/dms/image/C560BAQHIwaVBa8H5JA/company-logo_200_200/0?e=2159024400&v=beta&t=vD5te4MNo1TCgfQ_NMt_jyUoWqBGHfsBWtttrLE7MZA"/>
    </div>
    <div class="container text-center">
        <h1>{{title}}</h1>
    </div>
    <app-search>

    </app-search>
</div>