<search-bar (queryChange)="onQueryChange($event)" (buttonClicked)="getResults($event)"></search-bar>

<div class="row">
    <div class="col-md-6">

        <search-results [results]="results" [query]="query" [type]="type.book"></search-results>
    </div>
    <div class="col-md-6">
            <search-results [results]="results" [query]="query" [type]="type.album"></search-results>
    </div>
</div>
