<table class="table table-striped">
    <thead>
        <tr>
            <th>{{type.COLS[0]}}</th>
            <th>{{type.COLS[1]}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of results | filter:query | filter:type.TYPE">
            <td>{{result.title}}</td>
            <td>{{result.creators.join(" & ")}}</td>
        </tr>
    </tbody>
</table>