<div class="row">
    <div class="col-md-10">
        <input  class="form-control" type="text" name="search" style="text-align:center"
                [(ngModel)]="query" (ngModelChange)="onQueryChange($event)"
                autocomplete="off" placeholder="Start searching for album or book by term">
    </div>
    <div class="col-md-2">
        <button class="btn btn-outline-dark" (click)="search()">Search</button>
    </div>
</div>